<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }}</h1>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 1 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/1-central-limit-theorem">1 Central Limit Theorem</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 2 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/2-hypothesis-testing">2 Hypothesis Testing</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 3 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/3-back-propagation">3 Back Propagation</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 4 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/4-faster-rcnn">4 Faster RCNN</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 5 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/5-loss-functions">5 Loss Function</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 6 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/6-kernel-svm">6 Kernel SVM</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 7 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/7-seq-seq-models">7 Seq-Seq Models: TF2.0 </a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 8 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/8-attention-mechanism">8 Attention Mechanism</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 9 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/9-deconv-unet">9 Unet, Deconv</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 10 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/10-image-forensic">10 Image Forensic Detection</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 11 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/11-next-word-prediction">11 next word prediction</a>
      </li>
      <li class="sidebar-nav-item{% if page.step == 12 %} active{% endif %}">
        <a href="{{ site.url }}{{ site.baseurl }}/12-key-word-extraction">12 Key word extraction</a>
      </li>
    </ul>
  </div>
</div>
